<!DOCTYPE html>
<!--suppress ALL -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    .centrar{
        text-align: center;
    }
    .rellenar{
        background-color: rgba(11, 0, 28, 0.32);
    }
    nav{
        background-image: url("https://i.ibb.co/LnMLjyR/banner2.png");
        background-repeat: revert;
    }

</style>
<body>
<!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="https://image.flaticon.com/icons/png/128/403/403218.png"
                     width="90" height="90" alt="ropa">
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>ZINJO: </b>PERFIL DE USUARIO<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="my-2 my-lg-0">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editando perfil de <b><%=nombre%></b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="/home/principal">Volver al inicio</a>
                        <a class="dropdown-item" href="/home/logout">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<div class="container">
    <form action="crearCont" method="post" class="form-group">
        <div class="row">
            <div class="col-lg-7">
                <br/><h5 class="centrar">Datos personales</h5><br/>
                <label for="nombre">Nombre Completo:</label>
                <input id="nombre" name="nombre" type="text" class="form-control" required>

                <label for="telf">Nombre de Usuario:</label>
                <input id="telf" name="usuario" type="email" class="form-control"
                       placeholder="Escribe un nickname" required>

                <label for="direccion">Direccion:</label>
                <input id="direccion" name="direccion" type="text" class="form-control" required>

                <label for="telf">Teléfono:</label>
                <input id="telf" name="telefono" type="text" class="form-control" required>

                <label for="telf">Fecha Nacimiento:</label>
                <input id="telf" name="fecha" type="date" class="form-control" required>

            </div>
            <div class="col-lg-5">
                <br/><h5 class="centrar">Cambiar Contraseña</h5><br/>

                <label for="password">Contraseña actual:</label>
                <input class="form-control" id="password" type="password" name="password0"
                       placeholder="Ingresa tu contraseña actual" required>

                <label for="password">Nueva Contraseña:</label>
                <input class="form-control" id="password" type="password" name="password1"
                       placeholder="Escribe tu nueva Contraseña" required>

                <label for="password">Confirmar contraseña:</label>
                <input class="form-control" id="password" type="password" name="password2"
                       placeholder="Confirma tu contraseña" required>
                <br/>
                <div class="row">
                    <div class="col-lg-12 centrar">
                        <button type="reset" class="btn btn-outline-danger">Limpiar</button>
                        <button class="btn btn-outline-primary">Cambiar contraseña</button>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 centrar">
                <a href="/home/principal">
                    <button type="button" class="btn btn-outline-dark">Cancelar</button>
                </a>
                <button class="btn btn-outline-primary">Guardar cambios</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
